@model IEnumerable<MN_SO_APS_PROJECT.Models.CityModel>

<h1>All Cities</h1>

@foreach(var item in Model)
{   
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">@item.CityName</div>
  </li>   
}
